{% extends "base.html" %}

{% block title %}Главная страница - Школа английского языка SPEAK UP{% endblock %}
{% block og_title %}Главная страница - Школа английского языка SPEAK UP{% endblock %}
{% block meta_description %}Школа английского языка SPEAK UP - обучение английскому языку для взрослых и детей. Индивидуальные и групповые занятия, онлайн курсы.{% endblock %}

{% block content %}
<main class="stub-page">
  <section class="stub-content">
    <h1>Главная страница</h1>
  </section>
</main>
{% endblock %}


