{% extends "base.html" %}

{% block title %}Купи 2 уровня английского и получи еще 2 в подарок - Акции SPEAK UP{% endblock %}
{% block og_title %}Купи 2 уровня английского и получи еще 2 в подарок - Акции SPEAK UP{% endblock %}
{% block meta_description %}Специальная акция SPEAK UP: купите 2 уровня английского языка и получите еще 2 уровня в подарок. Экономия до 50%.{% endblock %}

{% block content %}
<main class="stub-page">
  <section class="stub-content">
    <h1>Купи 2 уровня английского и получи еще 2 в подарок</h1>
  </section>
</main>
{% endblock %}

